.outerHero{
    align-items: center;
    min-height: 100%;
    padding: 5%;
    top: auto;
    padding-top: 75px;
}
.herobody {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    max-width: 800px;
    background-color: #b8b267;

}
  #StoryDiv{
      height: 200px;
      overflow-y: scroll;
      font-size: 30px;
  }
  textarea{
      height: 200px;
      width: 100%;
      font-size: 30px !important;;
  }
  .incorrect{
      color:red;
      text-decoration: underline;
  }
  .correct{
      color: green;
  }